@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-dark">
   <h1 class="display-4 mt-5"><i class="bi bi-person-vcard"></i> Agenda <span class="fw-bold"> Medica</span></h1>
   <p class="lead mt-3"> Sua solução para agendamento de consultas medicas! </p>
    <a class="btn btn-outline-light btn-lg mt-5 w-25 text-white  bg-black" asp-area="Identity" asp-page="/Account/Login"> Entrar</a>
</div>
